.DS_Store
.vscode
.vs
.idea
**/.env
**/node_modules
*.user
**/bin
!**/*-cdk/bin
**/*-cdk/cdk.context.json
**/obj
**/output
**/publish
**/cdk.out
.netrc
**/vendor
**/build

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
